.cart-link {
  background-color: #333;
  border-radius: 23px;
  padding: 6px 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.25s ease-in-out;
}

.animation {
  /* animation: notify 0.3s ease-in-out alternate; */
  transform: scale(1.2);
}

@keyframes notify {
  to {
    transform: scale(1.2);
  }
}
